<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/statics/styles.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sonification</title>
</head>





<body>

	<h1 id="header">Upload File</h1>

	<form class="forma" style="margin-left: 675px" action = "/prikaci" method = "POST" enctype = "multipart/form-data">
		<input type = "file" name = "file" style="width: 300px; font-size: 20px;">
		<input class="submit-btn"type = "submit" style="width: 200px; font-size: 20px; margin-left: 50px;">
	</form>


</body>

</html>







